# Postgres
POSTGRES_DB=postgres2
POSTGRES_USER=postgres2
POSTGRES_PASSWORD=postgres2

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# AWS Credentials
AWS_ACCESS_KEY_ID = ["Your AWS key id"]
AWS_SECRET_ACCESS_KEY = ["Your AWS aecret access key"]
AWS_REGION = "us-west-2"

#LangSmith
LANGSMITH_API_KEY = ["Your Lanhsmith API key"]
LANGSMITH_PROJECT = "postgres-agent-memory"

#OpenAI
OPENAI_API_KEY = ["Your OpenAI API key"]

#Model
MODEL="anthropic.claude-3-sonnet-20240229-v1:0"
#MODEL = "bedrock:anthropic.claude-3-5-sonnet-20241022-v2:0"

#Chroma
CHROMA_DATABASE = "dev-demo" # Usually 'default_database'
CHROMA_CLIENT_TYPE=http              # persistent | http
CHROMA_PERSIST_PATH=./my_chroma_db    # For persistent (not used with http)
CHROMA_HOST=chromadb                 # For http (use 'chromadb' in Docker, 'localhost' locally)
CHROMA_PORT=8000                     # For http (use 8001 in Docker, 8001 locally)
CHROMA_COLLECTION_NAME="rag_collection"

#Database
CHECKPOINT_TYPE=memory  # "memory" or "postgres" (default: memory)
DATABASE_URI = "postgresql://postgres2:postgres2@postgres:5432/postgres2"