; in other
instances, a master's degree in the discipline coupled with a doctoral degree in a related discipline is
considered appropriate.
the j.d.
is considered the terminal degree in the law school.
it is the responsibility of the dean appointing full- and part-time faculty members to justify the master's
degree, or master's in the teaching discipline, coupled with a related doctorate, as the terminal degree for
faculty members teaching in those disciplines.
these appointments must be approved by the provost.
in unusual cases, the university may appropriately include as graduate faculty those who have
demonstrated exceptional scholarly or creative activity, or professional experience, but who may not
possess the required academic credentials.
when the institution presents evidence of competence or
academic credentials other than the terminal degree in the discipline for its graduate faculty, it must
justify the employment of such faculty.